.options__container {
  width: 75%;
  height: fit-content;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 300px;
  .triangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }
  .plays {
    position: absolute;
    width: 100px;
    height: 100px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-shadow: 0px 9px 2px -5px hsl(218, 47%, 17%);
    -webkit-box-shadow: 0px 9px 2px -5px hsl(218, 47%, 17%);
    box-shadow: 0px 9px 2px -5px hsl(218, 47%, 17%);
    .border {
      width: 80px;
      height: 80px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      -moz-box-shadow: inset 0px 3px 1px hsl(228, 21%, 78%);
      -webkit-box-shadow: inset 0px 3px 1px hsl(228, 21%, 78%);
      box-shadow: inset 0px 3px 1px hsl(228, 21%, 78%);
      img {
        width: 50%;
      }
    }
  }
  .rock__position {
    bottom: -8%;
    background-image: $rockGradient;
  }
  .paper__position {
    bottom: 75%;
    left: 2%;
    background-image: $paperGradient;
  }
  .scissors__position {
    bottom: 75%;
    right: 2%;
    background-image: $scissorsGradient;
  }
  .rock__gameOn {
    background-image: $rockGradient;
  }
  .paper__gameOn {
    background-image: $paperGradient;
  }
  .scissors__gameOn {
    background-image: $scissorsGradient;
  }
}
